In [4]:
from IPython.display import display, HTML, Markdown
display(HTML("<style>.container { width:98% !important; }</style>"))

import pandas as pd
pd.set_option("display.max_columns",999)
pd.options.display.max_rows = 9999
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [5]:
df_emails = pd.read_csv('data/email_data.csv',delimiter=',')
display(df_emails.head())

df_activity = pd.read_csv('data/activity_data.csv',delimiter=',')
display(df_activity.head())

,LogId,EmailSentDateTimeUtc,EmailCampaignId,EmailOpenedDateTimeUtc,EmailClickedDateTimeUtc,UserId,ZipCode,AddressData
0,208728980120,2019-07-31 15:13:25.817,792229022220,NaN,NaN,851332105693,NaN,NaN
1,292563123584,2019-08-02 02:15:52.447,866429603262,2019-08-02 15:16:01.7533333,NaN,369293054977,NaN,NaN
2,72552047640,2019-08-07 16:21:37.293,383130475294,NaN,NaN,938684493058,NaN,NaN
3,1089121462891,2019-08-07 16:38:03.323,792229022220,NaN,NaN,50233193142,NaN,NaN
4,828770719378,2019-08-12 11:45:43.293,479810600058,NaN,NaN,369293054977,NaN,NaN

         UserId DateOfActivityPST  ActivityCount
0  241710509395        2019-09-24             29
1  241710509395        2020-09-11             60
2  435228414681        2018-01-06             12
3  435228414681        2018-04-20             20
4  435228414681        2018-05-10            136

In [54]:
#1
import math
email_rows=df_emails.shape[0]
activity_rows=df_activity.shape[0]
print('Email_rows -',email_rows)
print('Activity_rows -',activity_rows)

Email_rows - 474163
Activity_rows - 4559973

Idea was to get the number of rows in each csv file using the shape function. Shape returns number of rows and columns, and we need only rows.

In [ ]:
#2
from datetime import datetime
from dateutil import tz
import pytz
earliest=min(df_emails['EmailSentDateTimeUtc'])
recent=max(df_emails['EmailSentDateTimeUtc'])

earliest_format=datetime.strptime(earliest, '%Y-%m-%d %H:%M:%S.%f')
recent_format=datetime.strptime(recent, '%Y-%m-%d %H:%M:%S.%f')

pst=pytz.timezone('US/Pacific')

pst_earliest = pst.normalize(earliest_format.astimezone(pst))
pst_recent = pst.normalize(recent_format.astimezone(pst))

print('Earliest time - ',pst_earliest.strftime('%m/%d/%y %H:%M'))
print('Recent time - ',pst_recent.strftime('%m/%d/%y %H:%M'))

The idea is to get the earliest and recent times from the csv file and format it using mm/dd/yyy hour:minute. And, then convert the time to PST format(California time).

In [72]:
#3
zipcodes=df_emails[['ZipCode','LogId']].groupby(['ZipCode'])['LogId'].count().nlargest(10)
print('Zipcodes with the emails - ')
print(zipcodes)

Zipcodes with the emails -
ZipCode
63301.000    312
33801.000    310
34210.000    299
38301.000    295
67460.000    285
95971.000    277
42301.000    266
36104.000    254
40769.000    234
85225.000    229
Name: LogId, dtype: int64

Idea is to group the zipcode with the logid(to get the count of emails) and use nlargest to find the top 10 zipcodes with most emails.